.discussions {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

#topic {
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
    padding: 40px;
}

#selectMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #f0f0f000;
    border-radius: 5px;
    z-index: 1;
}

#selectMenu fieldset {
    margin: 10px;
    border: none;
}

.filterLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#speed {
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.filterButton {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filterButton:hover {
    background-color: #0056b3;
}

#filters {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#filtering {
    height: auto;
    width: 100%;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filtering hr {
    margin-top: 40px;
}

.discussion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff44;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgb(148, 148, 148);
    transition: .1s linear;
}

.discussion-container:hover {
    box-shadow: 3px 4px 20px rgb(148, 148, 148);
}

.discussion-container p {
    margin: 0;
    padding: 10px;
    color: rgb(50, 49, 49);
    text-align: center;
}

.addWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: auto;
}

.first-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-wrapper p {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    text-align: center;
}

#recommendation-sidescroll-container {
    padding: 10px 10%;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.RecommendationContainer,
.recWrapper {
    background-color: rgb(136, 98, 98);
    margin: auto 5px;
    padding: 20px;
    border-radius: 30px;
}

.recWrapper {
    height: 300px;
}

.recWrapper img {
    width: 300px;
}